<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaRlF6bO2tJFEewNOJwE0ji9Cc6DU0qMI</string>
	<key>GCM_SENDER_ID</key>
	<string>779737086240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeteriaApp</string>
	<key>PROJECT_ID</key>
	<string>sandbox-cafeteria-bianchys</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-cafeteria-bianchys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779737086240:ios:f3c1dd2505f7028c1bbf45</string>
</dict>
</plist>